{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}All about {{ name }}{% endblock %}

{% block content %}
<article class="container bake">
  <header class="alert alert-info mb-3 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
    <h1 class="display-4 mb-2">{{ name }}</h1>
  </header>
  <div class="clearfix mt-4 col-lg-10 offset-lg-1">
    <img src="../img/landmarks/{{ image }}" alt="{{ name }}" class="col col-lg-6 float-md-end img-fluid mb-3 ms-md-4">
    <div class="col">
      <ul>
        <li class="h5 mb-3">{{ established }}</li>
        <li class="h5 mb-3">{{ location }}</li>
        <li class="h5 mb-3">{{ activities }}</li>
        <li class="h5 bake"><a href="{{url}}" target="blank">Learn More</a></li>
      </ul>
      {{ description | safe }}
    </div>
  </div>
</article>
{% endblock %}
