{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Some Austin landmarks.{% endblock %}

{% block content %}
<div class="container">
  <h1 class="offset-lg-1">Austin is a great city.</h1>
  <p class="offset-lg-1">Start by visiting some of its landmarks.</p>
  {% for landmark in austin.landmarks %}
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-7 offset-lg-1">
        <img src="img/landmarks/{{ landmark.image }}" alt="{{ landmark.name }}" class="img-fluid mb-3">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 my-auto">
        <h2><a href="landmarks/{{ landmark.slug }}.html">{{ landmark.name }}</a></h2>
      </div>
      <hr>
    </div>
  {% endfor %}
</div>
{% endblock %}