{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Some Austin landmarks.{% endblock %}

{% block content %}
<article class="container">
  <header class="mb-2 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
    <h1 class="display-4 mt-3 mb-2">Austin is a great city.</h1>
    <h5 class="mb-3">Start by visiting some of its landmarks.</h5>
  </header>
  {% for landmark in austin.landmarks %}
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 offset-lg-1">
        <img src="img/landmarks/{{ landmark.image }}" alt="{{ landmark.name }}" class="img-fluid my-3">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 my-auto d-flex justify-content-center btn-group">
        <a href="landmarks/{{ landmark.slug }}.html" class="btn btn-outline-info rounded-pill" role="button">
          <h2 class="display-6 p-4">{{ landmark.name }}</h2>
        </a>
      </div>
      <hr class="border-info my-4">
    </div>
  {% endfor %}
</article>
{% endblock %}