{% set page_title = 'Restaurants' %}

{% extends '_templates/base.njk' %}

{% block page_title %}Restaurants{% endblock %}

{% block page_description %}Essential Restaurants in Austin.{% endblock %}

{% block content %}
<article class="container">
  <header class="mb-4 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
    <h1 class="display-4 mt-3 mb-3">Essential Austin Restaurants</h1>
    <h3>Austin is a city known for its food. When you visit, make sure you grab a bite at some of these! </h3>
  </header>
  <div class="row col-lg-10 offset-lg-1 justify-content-center">
  {% for restaurant in restaurants.restaurants %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4">
        <img class="card-img-top" src="img/restaurants/{{ restaurant.image }}" alt="{{ restaurant.name }}">
        <div class="card-body">
          <h3 class="card-title mb-3">{{ restaurant.name }}</h3>
          <h6 class="card-text mb-2">{{ restaurant.address }}</h6>
          <h6 class="card-text">{{ restaurant.category }}</h6>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</article>

{% endblock %}