{% extends '_templates/base.njk' %}

{% block page_title %}Restaurants{% endblock %}

{% block page_description %}The description for this page goes here.{% endblock %}

{% block content %}

<div class="container">
  <p>Content goes here</p>
</div>

{% endblock %}