.bake {
  p {
    font-size: 1.2rem;
  }
  a:link,
  a:visited {
    color: lighten($color: #065160, $amount: 20);
  }
  a:hover {
    color: lighten($color: #065160, $amount: 40);
  }
}

ul {
  list-style-position: outside;
  margin-left: -12px;
}
